
*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #111;
}

.swiper-container
{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 180px;

}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);

}

.img_p1
{
    width: 300px;
    height: 400px;
}

header{
    padding: 2em 0 2em;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #111;

}

footer{
    padding: 5em 0 5em;
    margin-top: 4em !important;
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background: #111;
}

.gif-coeur{width: 20px;}

@media screen and (max-width:620px){

*{text-align: center;}


}